channels:
- conda-forge
dependencies:
- ase =3.27.0
- coveralls
- coverage
- codacy-coverage
- matplotlib >=3.8.4,<4
- numpy >=2,<3
- pyiron_base =0.15.7
- pyiron_atomistics =0.8.4
- pyiron-data =0.0.25
- pyiron_contrib =0.1.18
- pyiron_snippets >=1,<2
- pyparsing <3.3
- scipy =1.16.3
- dill >=0.3
- seaborn >=0.13.0,<0.14
- runnerase =0.3.3
- pyxtal >=0.6.0,<1.2
